.container {
  display: flex;
  background-color: #f5f5f5;
  padding-bottom: 1px; /* To avoid showing background color from homepage */

  /* Size */
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

.content {
  overflow-y: auto;
  width: 100%;
  /* Hide scrollbar*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.info_cards {
  padding: 1rem;
  max-width: 800px;
  justify-self: center;
}

.temp_text {
  color: #3d3d3d;
  font-size: 16px;
  padding: 0.5rem;
}
