/* ---------------Tasks--------------- */
.tasks {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 30px;
}
.task_container {
  display: flex;
  flex-direction: column;
  /* Size */
  width: 100%;
  max-width: 400px;
  height: fit-content;
  padding: 15px;
  gap: 30px;

  /* Border style */
  border-radius: 5px;
  border: 2px dashed #80afb4;
  background: #fff;
}

.close_button {
  align-self: flex-end;
}

/* -----------Group Table--------------- */
.group_table {
  display: flex;
  flex-direction: column;
  margin: 30px;
  border-bottom: 1px solid #000;
}
