@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dceaf7;
  --foreground: #171717;
  --navbar-height: 60px;
  --homepage-background: #dceaf7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dceaf7;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "EquinorFont";
  src: url("/fonts/Equinor-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "EquinorFont";
  src: url("/fonts/Equinor-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "EquinorFont";
  src: url("/fonts/Equinor-Regular.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "EquinorFont";
  src: url("/fonts/Equinor-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: EquinorFont, Arial, Helvetica, sans-serif;
}

.text-title {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.text-small {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.text-normal {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.text-bold {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.button {
  /* Button style */
  background-color: #007079;
  border-radius: 5px;
  /* Spacing */
  width: 84px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* Positioning */
  align-self: flex-end;

  /* Tekst style*/
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
