.sidebar {
  width: 16rem;
  background-color: #314155;
  color: white;
  height: 100%;
  padding: 1.25rem;
  border-right: 1px solid #d1d5db;
}

.chapter-title {
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d1d5db;
}

.chapter-title:hover {
  background-color: #315081;
}

.subchapters {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
}

.subchapter-link {
  display: block;
  font-size: 1rem;
  color: #93c5fd;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.subchapter-link:hover {
  text-decoration: none;
  color: #6bacf7;
}
