.sidebar {
  /* Size */
  width: 330px;
  height: 100%;

  /* Background Color */
  background-color: #364855;

  /* padding */
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 45px;
  padding-bottom: 10px;
}

.close_button {
  /* Color */
  color: #ffffff;
}

.chapter_title {
  /* Mouse Cursor */
  cursor: pointer;
  /* Underline */
  border-bottom: 1px solid #ffffff;
  padding-top: 10px;
}

.subchapters {
  /* Padding/Margin */
  padding-left: 50px;
  margin-top: 8px;
  margin-bottom: 20px;

  /* Content */
  display: flex;
  flex-direction: column;
  gap: 8px;
}
